.visualize{
    display: flex;
    flex-direction: column;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    font-weight: lighter;
    font-size: 2.8rem;
}

.legend{
    margin:auto 50%;
}

.choice{
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 2.5rem;
}

.options{
    display: flex;
}

.options>button{
    margin: 3rem 8rem;
}