version: '3'

services:
  # postgresql with postgis docker image to hold the data
  postgres:
    image: mdillon/postgis:9.5
    volumes:
      - postgres:/var/lib/postgresql/data
    networks:
      - bety
    ports:
      - 9000:5432
    restart: unless-stopped
  # BETY docker image
  bety:
    image: pecan/bety:${BRANCH:-latest}
    ports:
      - 8000:8000
    networks:
      - bety
    environment:
      - INITIALIZE_URL=-w https://terraref.ncsa.illinois.edu/bety/dump/bety0/bety.tar.gz
      - REMOTE_SERVERS=6
      - UNICORN_WORKER_PROCESSES=1
      - SECRET_KEY_BASE=thisissomereallllllylongsecretkeyandshouldbelongerthanthis
    depends_on:
      - postgres
    restart: unless-stopped

  yaba_api:
    build: ./app
    networks:
      - bety
    volumes:
      - ./app:/code
    ports:
      - 5001:5000
    depends_on:
      - postgres

  yaba_client:
    build: ./client
    networks:
      - bety
    volumes:
      - ./client:/code
    ports:
      - 6001:6000
    depends_on:
      - yaba_api
  
  yaba_visualization:
    build: ./visualization
    networks:
      - bety
    volumes:
      - './visualization:/code'
      - '/code/node_modules'
    environment:
      - HOST=0.0.0.0
      - PORT=8075
         
    ports:
      - 8008:8075
    depends_on:
      - postgres
    restart: unless-stopped
    
  yaba_interface:
    build: ./interface
    networks: 
      - bety
    volumes:
      - './interface:/code'
      - '/code/node_modules'
    ports:
      - 3001:3000
    environment:
      - CHOKIDAR_USEPOLLING=true
      - REACT_APP_HOST=0.0.0.0
      - REACT_APP_PORT=3000
    depends_on:
      - yaba_client
      - yaba_visualization
    stdin_open: true

volumes:
  postgres:

networks:
  bety: