name: YABA interface tests

on:
  push:
  pull_request:
    branches: [ master ]

jobs:
  interface_test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: interface
    strategy:
      matrix:
        node-version: [16, 18]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3.5.1

    - name: Set up Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3.6.0
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: npm install

    - name: Run the tests and generate coverage report
      run: npm test -- --coverage

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3.1.2
