name: YABA Code Linter

on:
  push:
  pull_request:
    branches: [ master ]

jobs:
  lint:
    
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        
      - name: Lint Code Base
        uses: docker://github/super-linter:v3
        env:
          PYTHON_PYLINT_CONFIG_FILE: .pylintrc
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_PYTHON_PYLINT: true
          VALIDATE_JAVASCRIPT_ES: true
          DEFAULT_BRANCH: master
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}